<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>404 BONK</title>
        <link rel="stylesheet" type="text/css" href="resurse/css/eroare.css">
        <%- include("../fragmente/headeroare.ejs");  %> 
        <style>
            /*display all elements inside main in a grid*/
            main {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
            }
        </style>

    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
                <p><%- locals.imagine %></p>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
        <section>
            <div>
                <iframe name="ifr-video" width="800" height="400" src="/resurse/chromedino.html"> </iframe>
            </div>
    </section>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>